<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ParkMaster.com</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides spaceBetween="10" pager>
    <ion-slide>
      <img src="../assets/home/slide/slide1.jpg" />
      <p>Bienvenido a ParkMaster</p>
    </ion-slide>
    <ion-slide>
      <img src="../assets/home/slide/slide2.jpg" />
      <p>Disfruta Parqueaderos </p>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <div *ngIf="ubicacion != true">
      <button ion-item *ngFor="let se of search" (click)="openDetailSearch(se)" icon-start>
      <ion-icon name="{{se.icon}}" [ngStyle]="{'color': se.color}" item-start></ion-icon>
      {{ se.titulo }}
    </button>
    </div>

    <ion-item>
      <ion-label>Tipo Parqueadero</ion-label>
      <ion-select [(ngModel)]="toppings" multiple="true">
        <ion-option>Publico</ion-option>
        <ion-option>Red ParkMaster</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Mi Ubicacion</ion-label>
      <ion-toggle [(ngModel)]="ubicacion" disabled="false"></ion-toggle>
    </ion-item>
    <div padding>
      <button ion-button color="secondary" block (click)="buscarParqueadero()">Buscar</button>
      <button ion-button color="primary" block outline (click)="publicarParqueadero()">Publica Gratis</button>
    </div>
  </ion-list>
</ion-content>